<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1>Logs</h1>
    <table>
        <thead>
            <tr>
                <th>Query Time</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs_data %}
            <tr>
                <td>{{ log[0] }}</td>
                <td>{{ log[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
